.app {
  width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background-color: darkgrey;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 50px 1fr 50px;

  grid-template-areas: 'h h' 's c' 'f f';
}

.content {
  border: 1px solid black;
  padding: 10px;
  grid-area: c;
}
